[Unit]
Description=Set the bootcheck variable

[Service]
ExecStart=/usr/sbin/bootcheck.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
