[Unit]
Description=Autostart Service

[Service]
EnvironmentFile=/etc/browser.conf
ExecStart=/usr/bin/xinit /usr/bin/google-chrome-kiosk $START_URL -- /usr/bin/X :0
Restart=always
RestartSec=1

[Install]
WantedBy=graphical.target
Alias=display-manager.service
