.body{
   min-height: 480px;
   max-height: 800px;
   min-width: 800px;
   max-width: 1280px;
   overflow: hidden;
   font-family: "system";
}

.errorbox{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}

.textbox{
    font-size: 40px;
    font-style: bold;
}

